@charset "EUC-KR";

a {
	color: #979797;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* -------------------------------------------------- */
.hidden {
	display: none;
}

/* main의 막내동생 */
.clearfix::after {
	content: "";
	clear: left;
	display: block;
	clear: both;
	display: block;
}

body {
	font-family: 돋움, Arial, sans-serif;
	font-size: 11px;
	color: #979797;
}

 /* -------------------txt style------------------ */
 
 .text-left{
 	text-align: left;
 }
 .text-center{
 	text-align: center;
 }
  .text-right{
 	text-align: right;
 }
 .text-indent{
 	text-indent: 10px;
 }
 .text-strong{
 	font-weight: bold;
 	color: orange;
 }
 

/* ------------button--------------------------------- */
.btn {
	display: inline-block;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 3px 8px;
	color: #ffffff;
	font-weight: bold;
}

.btn-img {
	display: inline-block;
	border: 0px;
	cusor: pointer;
	overflow: hidden;
	background-image: none;
	border: 1px solid transparent;
	text-indent: -999px;
}

.btn-search {
	width: 20px;
	height: 25px;
	background: url("../images/btn-zoom.png") no-repeat center;
	border-left: 1px solid #8CBA34;
}

.btn-cancel {
	width: 64px;
	height: 25px;
	background: url("../images/btn-cancel.png") no-repeat center;
	border-left: 1px solid #8CBA34;
}

.btn-default {
	background: #8fb885;
	background: -webkit-radial-gradient(center, ellipse cover, #9dcf40 0%, #698c26 100%);
}

.btn-default:hover {
	text-decoration: none;
	background: #ff8040;
	border-color: #ff8040;
}
/* ------------list 목록스타일---------------------------- */
.hr-list {
	display: inline-block;
}

.hr-list ul {
	overflow: auto;
	display: flex;
	/*   display : flex를 추가한 후엔 밑에 .hr-list li는 필요없어짐 */
}

/*   .hr-list li{
      float: left;
    
   } */
/*  hr-list긴 한데 separate된 거, 나뉜것만 == hr-list면서 pad인 것 */
.hr-list.pad li:first-child {
	padding-left: 0px;
	background: none;
}

/* ---------------격자형(table) 스타일----------------------------- */
.table {
	display: table;
	width: 100%;
	border-top: 2px solid #8cba35;
	table-layout: fixed;
}

/* 테이블이 아니면, 만약 div로 했을 때도 tr이라는 클래스로 주면 div class="tr"로 해줄수 있음 */
.table tr, .table .tr {
	display: table-row;
	/*    display : table-row; 이건 div로 했을 경우, 테이블 형태로 바꿔주기 위함. */
	height: 30px;
	line-height: 30px;
}

.table tr td, .table tr th, .table .tr .td, .table .tr .th {
	display: table-cell;
	border-bottom: 1px solid #e9e9e9;
	/* 
   실선은 tr에선 안먹힘 */
	text-align: center;
}

.table tr th, .table .tr .th {
	background: #f5f5f5 url("../images/bg-title-sp.png") no-repeat left
		center;
}

.table tr td.text-left, .table tr th.text-left,
.table .tr .td.text-left, .table .tr .th.text-left {
	text-align: left;
}

/* ---------------main style-------------------------- */
/* main안쪽의 스타일로 한정시키고 싶을 때. main .title */
main .title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* font-weight: bold;
   color : #000; */
}
/* title이 공통분모... title이 main에도 들어갈 수 있고 sub에도 들어갈 수 있음
main title 일때 이런 내용이 공통분모없이 한번만 적용 main이 적용되고 나서 title이 적용 */
main .main {
	font-family: 맑은 고딕, 고딕, sans-serif;
	font-size: 21px;
	color: #646464;
	padding-left: 25px;
	background: url("../images/icon-main-title.png") no-repeat left center;
}

/* main이면서 title일때 !!!!! 아래 것만 적용됨.
<h2 class = "main title"> 이땐 .title이랑 아래의 .main.title이적용 */
main .sub {
	
}

main table .w60 {
	width: 60px;
	/* min-width : 무조건 60px 딴거에 영향 안받음 */
}

main table .w100 {
	width: 100px;
}

/* ---------------header------------------------------------ */
#header {
	height: 70px;
}

#header>.content-container {
	position: relative;
}

#header>.content-container>section>*, #logo {
	position: absolute;
}

#logo {
	background: red;
	display: inline-block;
	left: 0px;
	top: 23px;
}

#logo img {
	vertical-align: middle;
}

#main-menu {
	display: inline-block;
	left: 200px;
	top: 27px;
}

.main-menu li {
	float: left;
	padding-left: 24px;
	background: url("../images/bg-main-menu-vsp.png") no-repeat 13px center;
}

.main-menu a {
	font-family: 맑은 고딕, 고딕, sans-selif;
	font-size: 15px;
	font-weight: bold;
	color: #000000;
}

.main-menu li:last-child>a {
	color: #ff6a00;
}

#search-form {
	width: 308px;
	border: 5px solid #8CBA34;
	left: 468px;
	top: 21px;
}

#search-form form {
	display: flex;
}
/* 과정검색 글씨 가운데 정렬 방법 1    */
#search-form label {
	/*    line-height: 25px; */
	align-self: center;
	padding: 0px 5px;
	/*    padding :: 상하 0px 좌우5px */
}
/* flex 수평 정렬방법 --> justify
   1) flex-start 맨 왼쪽부터
   2) flex-end 맨 오른쪽
   3) flex-center 가운데
   4) space-between 빈공간을 n분의 1로 나누기
   5) space-around 양쪽에 여백을 가지도록
   
   flex 수직 정렬방법  --> align
   align - content : flex 아이템 :: 자기 안에 들어가는 content
   align - items 
   align - self : 자신  = flex자신의 박스 정렬 */
#search-form input[type="text"] {
	border: 0px;
	flex-grow: 1;
}

.member-menu {
	right: 0px;
	top: 20px;
}

.member-menu li {
	float: left;
	padding-left: 9px;
	background: url("../images/bg-member-menu-sp.png") no-repeat 4px center;
}

.member-menu a {
	font-family: 맑은 고딕, 고딕, sans-selif;
	font-size: 10px;
	font-weight: bold;
	color: #979797;
}

.customer-menu {
	right: 0px;
	top: 40px;
}

.customer-menu li {
	float: left;
	padding-left: 9px;
}

.content-container {
	min-height: inherit;
	height: 100%;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#visual {
	border-top: solid 5px #8cba34;
	/* border : 경계선넣기 */
	height: 171px;
	background: #313131 url("../images/bg-visual.png") no-repeat center;
}

#visual .content-container {
	background: #313131 url("../images/customer/visual.png") no-repeat
		center;
}
/*-----------------body style--------------------------*/
#body {
	min-height: 300px;
	border-top: solid 5px #8cba34;
	margin-top: 1px;
	/*   background: rgb(0, 84, 255); */
}

#aside {
	float: left;
	min-height: inherit;
	width: 205px;
	height: 300px;
	overflow: auto;
	background: url("../images/bg-aside-title.png") no-repeat left top;
	/* background-size: cover; */
	background-attachment: local;
}

#main {
	float: left;
	min-height: inherit;
	padding-left: 35px;
	padding-top: 45px;
	width: 755px;
	box-sizing: border-box;
	/* background : yellow; */
}

/*-----------------------------------------------------*/
#footer {
	height: 100px;
	background: #313131;
}

#floating {
	/*  position:absolute;  */
	/*  position : fixed;   */
	position: relative;
	/* fixed하면 스크롤 내려도 그대로 유지 */
	/*  position을 따로 지정 안해주면 left, top안먹음 */
	/* relative : 상대경로 */
	width: 50%;
	height: 100px;
	/* background : pink; */
	left: 10px;
	/*  top : 0px; 위는 얼만큼 ? */
	bottom: 10px;
	/*    right: 100px;  */
}

#floating>div {
	position: absolute;
	left: 0px;
	top: -50px;
	width: 100px;
	height: 100px;
	/* background : blue; */
}
/*  #main-menu {
   color: red;
}
 */
/* nav>.uh {
   color: green;
   text-decoration: underline;
}

#main-menu li.first + li + li {
   text-decoration: underline;
}

#h2 {color : green; }
h1 {color : orange; }

.h1 {color : red; }

h1.g2{color:green;}
nav > .h2{color:orange;}
.h2 {color:red;}
 */